<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="person-form">

    <div class="person-form-left">
      <div class="field">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name %>
      </div>
      <div class="field">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :job %><br>
        <%= f.text_field :job %>
      </div>
    </div> 

    <div class="person-form-right">
      <div class="field">
        <%= f.label :gender %><br>
        <%= f.select :gender, ["Male", "Female"] %>
      </div>
      <div class="field picture-url">
        <%= f.label :picture %><br>
        <%= f.text_field :picture %>
      </div>
      <div class="field">
        <%= f.label :birthday %><br>
        <%= f.date_select :birthday, :start_year => Time.now.year - 110, :end_year => Time.now.year %>
      </div>
    </div>

  </div>

  <div class="field">
      <%= f.label :bio %><br>
      <%= f.text_area :bio %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
