<p id="notice"><%= notice %></p>

<h1 class="text-center">People</h1>

<% if @people.length > 0 %>
<table class='people_table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to (person.first_name + " " + person.last_name), person %></td>
        <td><%= person.email %></td>
        <td><%= person.age %></td>
        <td><%= link_to image_tag('/remove.png', class: "remove_image"), person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>

  <p> Click New Person button to start adding new people</p>

<% end %>

<br>

<%= link_to 'New Person', new_person_path %>
