<p id="notice"><%= notice %></p>

<div class="profile-container">

  <aside class="left-info text-center">
    <div class="picture">
      <%= image_tag(@person.picture, class: "profile_pic", alt: "profile_pic") %>
    </div>
    <p>
      <strong>NAME:</strong><br>
      <%= @person.first_name + ' ' + @person.last_name %>
    </p>
    <p>
      <strong>EMAIL:</strong><br>
      <%= @person.email %>
    </p>
    <p>
      <strong>GENDER:</strong><br>
      <%= @person.gender %>
    </p>

    <p>
      <strong>BIRTHDAY:</strong><br>
      <%= @person.birthday %>
    </p>

  </aside>

  <div class="right-info">
    <h2><%= @person.first_name + ' ' + @person.last_name %></h2>
    <p>
      <strong>Job:</strong>
      <%= @person.job %>
    </p>
    <p>
      <strong>Bio:</strong>
      <%= @person.bio %>
    </p>
    
  </div>

</div>


<div class="profile-edit">
  <%= link_to 'Edit', edit_person_path(@person) %> |
  <%= link_to 'Back', people_path %>
</div>
